::selection {
   background: $accent2;
 }


 *.accent {
   color: $accent;
   text-decoration: none;
   padding: 3px 6px;
   border-radius: 4px;
   background-color: $accent-transparent;
   transition: background-color .12s ease-in-out;

   &:hover {
    background-color: $accent-semi-transparent;
    transition: background-color .12s ease-in-out;
   }
}

*.accent-text {
  color: $accent
}

.secondary {
  color: $secondary;
}

.page-title {
  font-size: 46px;
  line-height: 95px;
}

.page-description {
  line-height: 26px;
}