$dark: #222831;
$dark-transparent: #222831b9;

$semi-dark: #393e46;
$semi-dark-light: #59616e;
$semi-dark-less-transparent: #393e46a9;
$semi-dark-transparent: #393e4677;
$semi-dark-very-transparent: #393e4615;

$accent: #ffd369;
$accent2: #7c4b88;
$accent-less-transparent: #ffd2696b;
$accent-semi-less-transparent: #ffd2692a;
$accent-semi-transparent: #ffd26913;
$accent-transparent: #ffd2690a;

$light: #eeeeee;
$light-transparent: #eeeeeec9;

$semi-light: #6f7a8d;
$semi-light-light: #a0aabb;

$secondary: #9ba4b4;
$secondary-transparent: #9ba4b469;
