$dark: #222831;
$dark-transparent: #222831b9;

$semi-dark: #393E46;
$semi-dark-less-transparent: #393e46a9;
$semi-dark-transparent: #393E4677;
$semi-dark-very-transparent: #393e4615;

$accent: #FFD369;
$accent2: #7c4b88;
$accent-less-transparent: #ffd2696b;
$accent-semi-less-transparent: #ffd2692a;
$accent-semi-transparent: #ffd26913;
$accent-transparent: #ffd2690a;

$light: #EEEEEE;
$light-transparent: #eeeeeec9;

$secondary: #9BA4B4;
$secondary-transparent: #9BA4B469;